<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Atividade 08</h1>
          <div class="h-1 w-20 bg-yellow-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Seja bem-vindo(a) à pagina dedicada a atividade 08 de FrontEnd.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/web.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Desenvolvedor</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">FronEnd</h2>
            <p class="leading-relaxed text-base">Módulo Avançado</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/ja.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Modulos</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">FrontEnd-Java</h2>
            <p class="leading-relaxed text-base">Módulo Avançado</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/ang.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Trilha</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Angular</h2>
            <p class="leading-relaxed text-base">Módulo Avançado.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/java.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Trilha</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Java</h2>
            <p class="leading-relaxed text-base">Módulo Avançado</p>
          </div>
        </div>
      </div>
    </div>
  </section>